numpy==2.3.3
pandas==2.1.1
matplotlib==3.10.7
ipywidgets==8.1.8
yfinance==0.2.66
scipy==1.16.3
IPython==8.16.1
tqdm==4.67.1
requests==2.32.1
import_ipynb==0.2
arch==8.0.0
statsmodels==0.14.6
beautifulsoup4==4.12.2
